@model CategoryBindingModel
@{
    ViewData["Title"] = "Create category";
}

<h3>CreateCategory</h3>
<form asp-controller="Categories" asp-action="CreateCategory" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group d-flex">
        <div class="mx-auto">
            <button class="btn btn-custom-border-blue" type="submit">Submit</button>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-custom-border-red">Cancel</a>
        </div>
    </div>
</form>

